@import url(../styles/reset.css);
/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
*/

body {
  max-height: 100%;
  background-color: #fff;

  font-family: "Roboto", sans-serif;

  padding: 10px;
}

.titulo {
  margin: 10px;
  border: none !important;
}
.container * {
  border: 1px solid rgb(0, 0, 0);
  position: relative;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.7fr 2.2fr 0.9fr 0.2fr;
  grid-auto-rows: 1fr;
  gap: 10px 10px;
  grid-auto-flow: row;
  grid-template-areas:
    "Header Header Header"
    "Aside Article Article"
    "Aside Section Section"
    "Footer Footer Footer";
}

.Footer {
  grid-area: Footer;
}

.Section {
  grid-area: Section;
}

.Article {
  grid-area: Article;
}

.Aside {
  grid-area: Aside;
}

.Header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 10px 10px;
  grid-auto-flow: row;
  grid-template-areas:
    ". . ."
    ". . ."
    ". Nav Nav";
  grid-area: Header;

  padding: 10px;
}

.Nav {
  grid-area: Nav;
}

html,
body,
.container {
  height: 98.93%;
  margin: 0;
}
